<!-- Dropdown Structure -->
<nav>
    <div class="nav-wrapper teal lighten-1">
        <a routerLink="" class="brand-logo"><i class="material-icons">apps</i> Nep</a>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>

    <div class="fixed-action-btn top">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">menu</i>
        </a>
        <ul>
            <li><a routerLink="/" class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
            <li><a routerLink="/clientes" class="btn-floating yellow darken-1"><i class="material-icons">view_list</i></a></li>
            <li><a routerLink="/cliente" class="btn-floating green"><i class="material-icons">add</i></a></li>
        </ul>
    </div>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
    <!--<h1>-->
        <!--{{title}}!-->
    <!--</h1>-->
<!--</div>-->

<!--<app-cliente></app-cliente>-->
