/* You can add global styles to this file, and also import other style files */
.text-center {
    text-align: center;
}

.validation-alert-error{
    padding: 0;
    color: #E53935;
    font-size: 10px;
    margin: -20px 0 20px 45px;
}