<div class="card">
    <div class="card-content">
        <h3>Seja bem vindo!</h3>
        <p>Estamos indo muito bem até o momento, verifique abaixo algumas de nossas estatísticas:</p>
    </div>
    <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
            <li class="tab" *ngIf="instalacao"><a class="active" href="#test1">Instalação</a></li>
            <li class="tab"><a class="active" href="#test4" (click)="getFaixaEtaria()">Faixa etária</a></li>
            <li class="tab"><a href="#test5" (click)="getPublico()">Publico</a></li>
        </ul>
    </div>
    <div class="card-content grey lighten-4">
        <div id="test1" *ngIf="instalacao">
            <h3>Instalando nosso projeto</h3>
            <ul>
                <li>1 - Disponibilize a nossa API (pasta v1 que acompanha o projeto) no local desejado;</li>
                <li>2 - Configure a URL da nossa API na service do projeto (src/app/services/cliente.service.ts linha 12);</li>
                <li>3 - Crie o banco de dados com o nome 'nep_sistema' e após, crie nossa tabela conforme dump abaixo:
                    <pre>
                        --
                        -- Table structure for table `cliente`
                        --

                        DROP TABLE IF EXISTS `cliente`;
                        /*!40101 SET @saved_cs_client     = @@character_set_client */;
                        /*!40101 SET character_set_client = utf8 */;
                        CREATE TABLE `cliente` (
                        `cod_cliente` int(11) NOT NULL AUTO_INCREMENT,
                        `dat_nascimento` date DEFAULT NULL,
                        `doc_cliente` varchar(20) DEFAULT NULL,
                        `sexo_cliente` char(1) DEFAULT NULL,
                        `end_cliente` varchar(255) DEFAULT NULL,
                        `nome_cliente` varchar(100) DEFAULT NULL,
                        PRIMARY KEY (`cod_cliente`)
                        ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
                    </pre>
                </li>
                <li>Fim - Após esse procedimento, é só cadastrar os clientes!</li>
            </ul>
        </div>
        <div id="test4">

            <h3>Faixa etária</h3>
            <div style="display: block">
                <canvas baseChart
                        [datasets]="barChartDataFaixaEtaria"
                        [labels]="barChartLabelsFaixaEtaria"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
        <div id="test5">
            <h3>Publico</h3>
            <div style="display: block">
                <canvas baseChart
                        [datasets]="barChartDataPublico"
                        [labels]="barChartLabelsPublico"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>
</div>