<h3>{{ nomeModulo }}</h3>

<div class="row">
    <form class="col s12" (ngSubmit)="onSubmit(clienteForm)" #clienteForm="ngForm">
        <div class="row">
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="nome_cliente" name="nome_cliente" placeholder="Informe o seu nome" type="text" class="validate" [(ngModel)]="cliente.nome_cliente" maxlength="100" required #nome_cliente="ngModel">
                <label for="nome_cliente" data-error="">Nome</label>
                <div class="validation-alert-error" [hidden]="nome_cliente.valid || nome_cliente.pristine"><p>Informe o seu nome</p></div>
            </div>
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">perm_contact_calendar</i>
                <input type="text" id="dat_nascimento" name="dat_nascimento" placeholder="Informe a sua data de nascimento" materialize="pickadate" [materializeParams]="datePickerParams" [(ngModel)]="cliente.dat_nascimento" required minlength="10" #dat_nascimento="ngModel">
                <label for="dat_nascimento" data-error="">Data de Nascimento</label>
                <div class="validation-alert-error" [hidden]="dat_nascimento.valid || dat_nascimento.pristine"><p>Informe a sua data de nascimento></div>
            </div>
        </div>

        <div class="row">
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">perm_identity</i>
                <input id="doc_cliente" name="doc_cliente" placeholder="Informe um documento de identificação" type="text" class="validate" [(ngModel)]="cliente.doc_cliente" maxlength="20" required #doc_cliente="ngModel">
                <label for="doc_cliente" data-error="">Documento de Identificação</label>
                <div class="validation-alert-error" [hidden]="doc_cliente.valid || doc_cliente.pristine"><p>Informe um documento de identificação></div>
            </div>
            <div class="input-field col m6 s12">
                <i class="material-icons prefix">wc</i>
                <select id="sexo_cliente" name="sexo_cliente" materialize="material_select" class="validate" [(ngModel)]="cliente.sexo_cliente" required #sexo_cliente="ngModel">
                    <option value="" disabled selected>Selecione...</option>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                </select>
                <label for="sexo_cliente" data-error="">Sexo</label>
                <div class="validation-alert-error" [hidden]="sexo_cliente.valid || sexo_cliente.pristine"><p>Informe um documento de identificação></div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">location_on</i>
                <input id="end_cliente" name="end_cliente" placeholder="Informe o seu endereço" type="text" class="validate" maxlength="255"  [(ngModel)]="cliente.end_cliente">
                <label for="end_cliente">Endereço</label>
            </div>
        </div>

        <div class="fixed-action-btn top" style="left: 23px;width: 50px;">
            <button type="submit" [disabled]="!clienteForm.form.valid" class="btn-floating btn-large green"><i class="large material-icons">check</i></button>
        </div>
    </form>
</div>