<h3>Listagem dos Clientes</h3>

<div *ngIf="exibeLista">
    <ul class="collection" id="lista-clientes">
        <li class="collection-item avatar" *ngFor="let cliente of arrClientes">
            <i class="material-icons circle red">person</i>
            <span class="title">{{ cliente.cod_cliente }} - {{ cliente.nome_cliente }}</span>
            <p>{{ cliente.end_cliente }}</p>
            <a [routerLink]="['../cliente', cliente.cod_cliente]" class="secondary-content"><i class="material-icons">send</i></a>
        </li>
    </ul>
</div>

<div *ngIf="!exibeLista">
    <div class="card">
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Nenhum cliente encontrado<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">O que fazer?<i class="material-icons right">close</i></span>
            <p>Para adicionar um novo cliente, clique no menu ao lado e logo após no botão adicionar.</p>
        </div>
    </div>
</div>
